.test {
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #E9967A;
    font-size: 20px;
    height: 100px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
}

.navegation li {
   list-style: none;
   margin: 10px;
}

.menu .logo {
    width: 100px;
    height: 50px;
}
